<!--LoginComponent-->
<section id="loginComponent">
  <div *ngIf='isPath'>
    <videocover-component [videoHeight]='videoHeight' [iconVideo]='iconVideo'></videocover-component>
    <title-component [titleMarginTop]='titleMarginTop' [title]='title'  [titleHeight]='videoHeight' [titleFontSize]='titleFontSize' ></title-component>
  </div>
  <div class="container">
    <div class="row">
      <div class="col s12 center-align">
        <div class="lblTitle1">{{lblTitle1}}</div>
        <logo-component [logoFontSize]="logoFontSize" [logoMainTextColor]='logoMainTextColor'></logo-component>
        <div class="lblTitle2">{{lblTitle2}}</div>
      </div>
    </div>
    <div class="container">
      <div class="row valign-wrapper">
        <div class="col s12 l6 border">
          <div class="row">
            <div class="col s12 center-align border">
              <a class="waves-effect waves-light btn btn-login"><i class="material-icons left">cloud</i>button</a>
            </div>
            <div class="col s12 center-align border">
              <a class="waves-effect waves-light btn btn-login"><i class="material-icons left">cloud</i>button</a>
            </div>
          </div>
        </div>
        <div class="col s12 l6 border">
          B
        </div>
      </div>
    </div>
  </div>
</section>
<!--/LoginComponent-->
