<!--HeaderComponent-->
<header id="headerComponent">
  <nav id="navHeader" class="backTransparent">
   <div class="nav-wrapper">
     <a href="#!" class="brand-logo">
       <logo-component [logoFontSize]="logoFontSize"></logo-component>
     </a>
     <ul class="right hide-on-med-and-down">

       <li>
         <a routerLink="/login" routerLinkActive="active"><i class="fa fa-sign-in left" aria-hidden="true"></i>LogIn</a>
       </li>
       <li>
         <a routerLink="/signup" routerLinkActive="active"><i class="fa fa-user-plus left" aria-hidden="true"></i>SignUp</a>
       </li>

       <li>
         {{ emailUserLogged$ | async }}
       </li>

       <li>
         {{ nameUser$ | async }}
       </li>


     </ul>
   </div>
  </nav>
 </header>
<!--/HeaderComponent-->
