.imgIconActivityComponent{
  width: 50%;
}

.imgIconActivityComponent:hover{
  cursor: pointer;
}


.imgIconActivityContainer{
  width: 100%;
  margin-top: 20px;
  text-align: center;
}

h4{
    color : white;
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 0px;
}

@media only screen and (min-width: 550px) {
    .imgIconActivityComponent{
      -webkit-transition: width 0.2s; /* Safari */
       transition: width 0.2s;
    }

    .imgIconActivityComponent:hover{
      width: 60%;
    }
}
