<!--IconBannerComponent-->
<section id="iconBannerComponent">
  <div class="container">
    <div class="row">
      <div class="col s12 m6 l3  center-align">
        <iconactivity-component [iconActivity] = "iconActivity1"></iconactivity-component>
      </div>
      <div class="col s12 m6 l3 center-align">
        <iconactivity-component [iconActivity] = "iconActivity2"></iconactivity-component>
      </div>
      <div class="col s12 m6 l3 center-align">
        <iconactivity-component [iconActivity] = "iconActivity3"></iconactivity-component>
      </div>
      <div class="col s12 m6 l3 center-align">
        <iconactivity-component [iconActivity] = "iconActivity4"></iconactivity-component>
      </div>
    </div>
  </div>
</section>
<!--/IconBannerComponent-->
