<!--ExperiencesComponent-->
<section id="experiencesComponent">
  <div *ngIf='isPath'>
    <videocover-component [videoHeight]='videoHeight' [iconVideo]='iconVideo'></videocover-component>
    <title-component [titleMarginTop]='titleMarginTop' [title]='title'  [titleHeight]='videoHeight' [titleFontSize]='titleFontSize' ></title-component>
  </div>
  <div id="experiencesContainer" class="">
    <div class="row">
      <div class="col s12">

        Filter

      </div>
    </div>
    <div class="row">
      <div class="col s6 m4 l3 xl2" *ngFor="let Experience of _Experiences  | paginate: { itemsPerPage: 10, currentPage: p }">

          <div class="card">
            <div class="card-image waves-effect waves-block waves-light">
              <div class="imgCardExperiences">

                <!--<img class="activator imgCard" src="assets/images/raq1.jpg">-->
                <div class="activator imgCard" [ngStyle]="{'background-image' : 'url(' + Experience.Image +')' , 'height' : backImageHeight , 'width' : backImageWidth}">

                </div>

              </div>
            </div>
            <div class="card-content">
              <span class="card-title activator grey-text text-darken-4">{{Experience.Name}}<i class="fa fa-bars right" aria-hidden="true"></i></span>
              <br/>
              <span class="card-title card-price activator grey-text text-darken-4">{{Experience.Price | currency:'COP':true:'1.2-2'}}</span>
            </div>
            <div class="card-reveal">
              <span class="card-title grey-text text-darken-4">Card Title<i class="fa fa-times right" aria-hidden="true"></i></span>
              <p>{{Experience.Description}}</p>
            </div>
          </div>

      </div>
    </div>
    <div class="row">
      <div class="col s12 center-align">
        <pagination-controls (pageChange)="p = $event"></pagination-controls>
      </div>
    </div>
  </div>

</section>
<!--/ExperiencesComponent-->
