.videoCoverComponent{
  width: 100%;

  width: 100%;
  top:0px;
  left:0px;
  position: absolute;
  z-index: -100;
}

.background-wrap{
  position: absolute;
  z-index: -1000;
  width:100%;

  overflow: hidden;
  top:0px;
  left: 0px;
}

.video-cover{
  position: absolute;
  left: 0px;
  top:0px;

  width: 100%;
  background: rgba(0,0,0,0.3);
}

#video-bg-elem{
  position: absolute;
  top:0px;
  left:0px;
  
  min-width: 100%;
}
