<section id="infobannerComponent" [ngStyle]="{'height': videoHeight }" >
  <videocover-component [videoHeight]=[videoHeight] [iconVideo]='iconVideo'></videocover-component>
  <div id="bannerInfo" class="valign-wrapper" [ngStyle]="{'height': videoHeight }">
    <div class="container-fluid">
      <div class="row">
        <div class="col s12 m7 left-align">
          <div class="row">
            <div class="col s12">
              <div class="bannerInfoText" [ngStyle]="{'margin-top': infoBannerTop}">{{bannerInfo}}</div>
            </div>
            <div class="col s12">
              <logo-component class="logoComponent1" [logoFontSize]="logoFontSize"></logo-component>
            </div>
          </div>
        </div>
        <div class="col s12 m5 center-align">
          <button class="btn waves-effect waves-light btn-nassqua btn-register" type="submit" (click)="signup()" name="action">{{btnTitle}}
              <i class="fa fa-user-plus left" aria-hidden="true"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
