<section id="infobannerComponent" [ngStyle]="{'height': videoHeight }" >
  <videocover-component [videoHeight]=[videoHeight] [iconVideo]='iconVideo'></videocover-component>
  <div id="bannerInfo" class="valign-wrapper" [ngStyle]="{'height': videoHeight }">
    <div class="container-fluid">
      <div class="row">
        <div class="col s12 l7 left-align">
          <div class="row">
            <div class="col s12">
              <span class="bannerInfoText">{{bannerInfo}}</span>
            </div>
            <div>
              <logo-component [logoFontSize]="logoFontSize"></logo-component>
            </div>
          </div>
        </div>
        <div class="col s12 l5 center-align">
          <span>{{bannerInfo}}</span>
        </div>
      </div>
    </div>
  </div>
</section>
